body {
    background-image: url('https://images.unsplash.com/photo-1582721691120-d1db3852893e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.center {
    padding: 70px 0;
}

.navbar-scrolled {
    background: #0e4b4f !important;
    transition: background 200ms linear;
}

.carousel-caption {
    position: relative;
    text-align: center;
    padding-top: 40px;
    word-wrap: break-word;
    left: 0;
    right: 0;
}

.carousel-item img {
    height: 300px;
    object-fit: contain;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}